<%= if @current_user do %>
  <span class="my-1 text-sm text-gray-700 font-medium hover:text-indigo-500 md:mx-4 md:my-0">
    <%= @current_user.username %>
  </span>
  <%= link "Log out", class: "my-1 text-sm text-gray-700 font-medium hover:text-indigo-500 md:mx-4 md:my-0", to: Routes.user_session_path(@conn, :delete), method: :delete %>
<% else %>
  <%= link "Register", class: "my-1 text-sm text-gray-700 font-medium hover:text-indigo-500 md:mx-4 md:my-0", to: Routes.user_registration_path(@conn, :new) %>
  <%= link "Log in", class: "my-1 text-sm text-gray-700 font-medium hover:text-indigo-500 md:mx-4 md:my-0", to: Routes.user_session_path(@conn, :new) %>
<% end %>
